PORT=5002
DATABASE_URL=""
DIRECT_URL=""

# Firebase Config (Admin SDK JSON stringified, or path to JSON file)
FIREBASE_PROJECT_ID=""
FIREBASE_CLIENT_EMAIL=""
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n\n-----END PRIVATE KEY-----\n"

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

GROQ_API_KEY=""
#CLOUDINARY_URL=